body{
  background-color: #D6CCA9;
}

h1{
  text-align: center;
}

hr{
  width: 10%;
  border: 2px solid black;
}

.question{
  font-weight: bold;
}

#result {
  display: none;
}

table, td{
  border: 2px solid black;
  padding: 0 10px 0 10px;
}