/*General, whole page stuff*/

body{
  background-color: #D6CCA9;
}

h1{
  text-align: center;
}

hr{
  width: 10%;
  border: 2px solid black;
}

/*Question Form Stuff*/

.question{
  font-weight: bold;
}

.btn{
  border: 2px solid #6C350F;
  padding: 0 0 5px 0;
  margin-top: 15px;
  font-weight: bold;
  background-color: #895D3F;
}

/*Displaying the results*/

#result {
  display: none;
}

#statsColumn{
  margin-top: 30px;
}

table, td{
  border: 2px solid black;
  padding: 0 10px 0 10px;
}

#again {
  text-align: center;
}